/* COLOR PALETTE */

/* 
  
midnight = #202020 = rgba(32, 32, 32, 1)
black = #333533 = rgba(51, 53, 51, 1)
silver = #d6d6d6 = rgba(214, 214, 214, 1)
yellow = #ffee32 = rgba(255, 238, 50, 1)
gold = #ffd100 = rgba(255, 209, 0, 1)
red = #ef233c = rgba(239, 35, 60, 1)
scarlet = #d80032 = rgba(216, 0, 50, 1)
orange = #fb8500 = rgba(251, 133, 0, 1)
rouge = #e63946 = rgba(230, 57, 70, 1)

*/

.stuff {
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 2px;
  padding-bottom: 100px;
  box-sizing: border-box;
}

.hr {
  background: linear-gradient(90deg, #d6d6d6 0%, #ffee32 32.29%, #ffd100 67.19%, #d80032 100%);
  height: 1px;
  width: 100%;
}

.info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.dot {
  background: linear-gradient(90deg, #d6d6d6 0%, #ffee32 32.29%, #ffd100 67.19%, #d80032 100%);
  height: 8px;
  width: 8px;
  border-radius: 50%;
}

@media (max-width: 600px) {
  .stuff {
    font-size: 6px;
  }
}
