/* COLOR PALETTE */

/* 
silver = #d6d6d6
yellow = #ffee32
gold = #ffd100
midnight = #202020
black = #333533
red = #ef233c
scarlet = #d80032
*/


.stuff {
  font-weight: 300;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 2px;
  padding-bottom: 100px;
  box-sizing: border-box;
}

.hr {
  background: linear-gradient(90deg, #d6d6d6 0%, #ffee32 32.29%, #ffd100 67.19%, #d80032 100%);
  height: 1px;
  width: 100%;
}

.info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.dot {
  background: linear-gradient(90deg, #d6d6d6 0%, #ffee32 32.29%, #ffd100 67.19%, #d80032 100%);
  height: 8px;
  width: 8px;
  border-radius: 50%;
}