.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-bottom: 3%;
  position: relative;
}

.infoboxRight {
  grid-column: 1 / span 6;
  grid-row: 1;
  padding-top: 15%;
}

.playbillRight {
  grid-column: 7 / span 2;
  grid-row: 1;
  padding-top: 20%;
  z-index: 1;
  border-radius: 5%;
}

.bannerRight {
  grid-column: 8 / -1;
  grid-row: 1;
}

.infoboxLeft {
  grid-column: 7 / span 5;
  grid-row: 1;
  padding-top: 15%;
}

.playbillLeft {
  grid-column: 5 / span 2;
  grid-row: 1;
  padding-top: 20%;
  z-index: 1;
}

.bannerLeft {
  grid-column: 2 / span 5;
  grid-row: 1;
}

.centeredContent canvas {
  margin: 0 auto;
  width: 31.25em;
  height: 15.625em;
}